<!doctype html>
<!--
   _        _
  /_\   ___| |_ _   _ _ __   _____      _____
 //_\\ / __| __| | | | '_ \ / _ \ \ /\ / / __|
/  _  \ (__| |_| |_| | | | |  __/\ V  V /\__ \
\_/ \_/\___|\__|\__,_|_| |_|\___| \_/\_/ |___/
-->
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        {# -- Nous mettrons nos feuilles CSS ici -- #}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/flatly/bootstrap.min.css"
              integrity="sha384-qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK"
              crossorigin="anonymous">
    {% endblock %}
</head>
<body>

{# -- Nous mettrons contenu HTML ici -- #}
{# -- main.container-fluid>.row>.col -- #}

{% include 'components/_nav.html.twig' %}
<main class="container-fluid">
    <div class="row">
        <div class="col">
            {% block body %}{% endblock %}
        </div>
    </div>
</main>
{% include 'components/_footer.html.twig' %}

{% block javascripts %}
    {# -- Nous mettrons nos fichiers JS ici -- #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
                integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
                crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>