{% extends "base.html.twig" %}

{% block title %}Devenir Abonné{% endblock %}

{% block body %}
    <div class="p-3 mx-auto text-center">
        <h1 class="display-4">Devenir Abonné</h1>
    </div>
    <div class="py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-10 mx-auto">
                    {{ form(form, {attr: {novalidate: 'novalidate'}}) }}
                </div>
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.bg-light -->
{% endblock %}